/**
 *	xicon by x 
 */

/* Arrows */
.xicon-arrowRight,
.xicon-arrowLeft,
.xicon-arrowDown,
.xicon-arrowUp {
	position: absolute;
	width: .5em;
	height: .5em;
	border-top: .1875em solid rgb(102, 102, 102); /* #666 */
	border-right: .1875em solid rgb(102, 102, 102); /* #666 */
	top:.125em;
	left: .125em;
}
.xicon-arrowRight{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.xicon-arrowLeft{
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.xicon-arrowDown{
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.xicon-arrowUp{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}