/* Globals */
body {
	font-family: pt-sans-narrow, sans-serif;
	font-size: 100%;
	line-height: 100%;
	padding: 0;
	margin: 0;
	color: rgb(102, 102, 102);
}

code, pre {
	/*font-family: Monaco, Menlo, Consolas, "Courier New", monospace;*/
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;	
}
code {
	display: inline-block;
	padding: .1em;
	margin: .5em 0 .5em 1.5em;
	height: 14px;
	font-size: .6rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	background-color: rgb(249, 252, 247);
	border: .1rem solid rgb(233, 230, 232);
	color: rgb(209, 72, 54);	

}
pre {
	color: rgb(136, 136, 136);
	position: relative;
	display: block;
 	padding: 0 .9em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	margin: 0;
	font-size: .6rem;
}
header{
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

/* Preview */
.wrapper {
	width: 95%;
	padding: 1em 0;
	margin: 0 auto;
	min-width: 320px;
}

.section-preview {}
.section-preview ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	/*border: 1px solid #000;*/
}
.section-preview li {
	text-align: left;
	list-style: none;
	position: relative;
	border: .1em solid rgb(226, 226, 226);
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
	    -ms-box-sizing:border-box;
	     -o-box-sizing:border-box;
	        box-sizing:border-box;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	padding: 1em;
	margin: .3125em;
	/*float: left;*/
	display: inline-block;
	min-width: 250px;
}
.section-preview li:hover {
	background-color: rgb(242, 242, 242);
}


@media screen and (max-width: 800px) {
	/* Preview */
	.section-preview li{
		float: none;
		display: block;
	}
}


@media screen and (min-width: 1260px) {
	/* Preview */
}
@media screen and (min-width: 1340px) {
	/* Preview */
}