/* Globals */
body {
	font-family: pt-sans-narrow, sans-serif;
	font-size: 100%;
	line-height: 100%;
	padding: 0 6%;
	color: rgb(102, 102, 102);
}
h6 {
	margin: 0;
	clear: both;
}
p {
	font-size: .95rem;
	line-height: 1.4;
}
a {
	color: rgb(209, 72, 54);
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}
a:hover {
	text-decoration: underline;
}
 code, pre {
	/*font-family: Monaco, Menlo, Consolas, "Courier New", monospace;*/
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;	
}
pre {
	color: rgb(136, 136, 136);
	position: relative;
	display: block;
 	padding: 0 .9em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	margin: 0;
	font-size: .6rem;
}


/* Preview */
.wrapper {
	width: 80%;
	padding: 1em 1.5% 0;
	margin: 0 auto;
	min-width: 320px;
}

.section-preview {}
.section-preview ul {
	margin: 0;
	padding: 0;
}
.section-preview li {
	list-style: none;
	position: relative;
	min-height: 200px;
	padding: 0;
	border-top: .1em solid rgb(226, 226, 226);
	border-left: .1em solid rgb(226, 226, 226);
	border-right: .1em solid rgb(226, 226, 226);
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
	    -ms-box-sizing:border-box;
	     -o-box-sizing:border-box;
	        box-sizing:border-box;

}
.section-preview .item:hover {
	background-color: rgb(242, 242, 242);
}
.section-preview li .icon-class {
	display: inline-block;
	padding: 0;
	margin-left: .5em;
	height: 14px;
	font-size: .6rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	background-color: rgb(249, 252, 247);
	border: .1rem solid rgb(233, 230, 232);
	color: rgb(209, 72, 54);	
}
.section-preview .item{
	border-left: 1px solid rgb(226, 226, 226);
	border-bottom: 1px solid rgb(226, 226, 226);
	position: absolute;
	right: 0px;
	padding: 5px 15px;
}
.section-preview .css-code{
	margin-top: 30px;
}


@media screen and (min-width: 800px) {
	/* Preview */
}


@media screen and (min-width: 1260px) {
	/* Preview */
}
@media screen and (min-width: 1340px) {
	/* Preview */
}